<h1>Channels</h1>
<h2>Daily (2 weeks)</h2>
<%= render partial: '/chart', locals: { chart_input_data: :perchannel_chart_data } %>
<h2>Hourly (1 month)</h2>
<%= render partial: '/chart', locals: {discrete: true, chart_input_data: :perhour_channel_chart_data } %>
<h2>Weekday (1 month)</h2>
<%= render partial: '/chart', locals: {discrete: true, chart_input_data: :perchannel_weekday_chart_data } %>

<h2>List of Channels (All)</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sortable "ch_id", "Ch" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "created", "Created" %></th>
      <th><%= sortable "creator", "Creator" %></th>
      <th><%= sortable "is_archived", "Is archived" %></th>
      <th><%= sortable "num_members", "Num members" %></th>
      <th><%= sortable "topic_value", "Topic value" %></th>
      <th><%= sortable "topic_creator", "Topic creator" %></th>
      <th><%= sortable "topic_last_set", "Topic last set" %></th>
      <th><%= sortable "purpose_value", "Purpose value" %></th>
      <th><%= sortable "purpose_creator", "Purpose creator" %></th>
      <th><%= sortable "purpose_last_set", "Purpose last set" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @channels.each do |channel| %>
      <tr>
        <td><%= channel.ch_id %></td>
        <td><%= channel.name %></td>
        <td><%= channel.created %></td>
        <td><%= channel.creator %></td>
        <td><%= channel.is_archived %></td>
        <td><%= channel.num_members %></td>
        <td><%= channel.topic_value %></td>
        <td><%= channel.topic_creator %></td>
        <td><%= channel.topic_last_set %></td>
        <td><%= channel.purpose_value %></td>
        <td><%= channel.purpose_creator %></td>
        <td><%= channel.purpose_last_set %></td>
        <td><%= button_to 'Show', channel, method: :get, class: 'btn btn-default' %></td>
        <td><%= button_to 'Edit', edit_channel_path(channel), method: :get, class: 'btn btn-default' %></td>
        <td><%= button_to 'Destroy', channel, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>