<h1>Listing starred_posts</h1>

<table>
  <thead>
    <tr>
      <th>Post type</th>
      <th>Ts</th>
      <th>User</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= line_chart @chart_data, height: "800px" %>
    <% @starred_posts.each do |starred_post| %>
      <tr>
        <td><%= starred_post.post_type %></td>
        <td><%= starred_post.ts %></td>
        <td><%= starred_post.user %></td>
        <td><%= starred_post.text %></td>
        <td><%= link_to 'Show', starred_post %></td>
        <td><%= link_to 'Edit', edit_starred_post_path(starred_post) %></td>
        <td><%= link_to 'Destroy', starred_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Starred post', new_starred_post_path %>
