<p id="notice"><%= notice %></p>

<p>
  <strong>Post type:</strong>
  <%= @starred_post.post_type %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @starred_post.ts %>
</p>

<p>
  <strong>User:</strong>
  <%= @starred_post.user %>
</p>

<p>
  <strong>Text:</strong>
  <%= @starred_post.text %>
</p>

<%= link_to 'Edit', edit_starred_post_path(@starred_post) %> |
<%= link_to 'Back', starred_posts_path %>
