<h1>Stars</h1>
<h2>Stars (All)</h2>
<%= render partial: '/chart', locals: { chart_input_data: @star_chart_data } %>
<h2>List of Stars (All)</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sortable "post_type", "Post type" %></th>
      <th><%= sortable "ts", "Ts" %></th>
      <th><%= sortable "user", "User" %></th>
      <th><%= sortable "text", "Text" %></th>
      <th><%= sortable "ts_date", "Ts date" %></th>
      <th><%= sortable "ch_id", "Ch id" %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stars.each do |star| %>
      <tr>
        <td><%= star.post_type %></td>
        <td><%= star.ts %></td>
        <td><%= star.user %></td>
        <td><%= star.text %></td>
        <td><%= star.ts_date %></td>
        <td><%= star.ch_id %></td>
        <td><%= button_to 'Show', star, method: :get, class: 'btn btn-default' %></td>
        <td><%= button_to 'Edit', edit_star_path(star), method: :get, class: 'btn btn-default' %></td>
        <td><%= button_to 'Destroy', star, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
