<h1>Users</h1>
<h2>Daily (2 weeks)</h2>
<%= render partial: '/chart', locals: { chart_input_data: :peruser_chart_data } %>
<h2>Hourly (1 month)</h2>
<%= render partial: '/chart', locals: {discrete: true, chart_input_data: :perhour_user_chart_data } %>
<h2>Weekday (1 month)</h2>
<%= render partial: '/chart', locals: {discrete: true, chart_input_data: :peruser_weekday_chart_data } %>

<h2>List of Users (All)</h2>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sortable "user", "User" %></th>
      <th><%= sortable "name", "Name" %></th>
      <th><%= sortable "deleted", "Deleted" %></th>
      <th><%= sortable "color", "Color" %></th>
      <th><%= sortable "profile_first_name", "Profile first name" %></th>
      <th><%= sortable "profile_last_name", "Profile last name" %></th>
      <th><%= sortable "profile_real_name", "Profile real name" %></th>
      <th><%= sortable "profile_email", "Profile email" %></th>
      <th><%= sortable "profile_skype", "Profile skype" %></th>
      <th><%= sortable "profile_phone", "Profile phone" %></th>
      <th><%= sortable "profile_image_24", "Profile image 24" %></th>
      <th><%= sortable "profile_image_32", "Profile image 32" %></th>
      <th><%= sortable "profile_image_48", "Profile image 48" %></th>
      <th><%= sortable "profile_image_72", "Profile image 72" %></th>
      <th><%= sortable "profile_image_192", "Profile image 192" %></th>
      <th><%= sortable "is_admin", "Is admin" %></th>
      <th><%= sortable "is_admin", "Is owner" %></th>
      <th><%= sortable "has_files", "Has files" %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_id %></td>
        <td><%= user.name %></td>
        <td><%= user.deleted %></td>
        <td><%= user.color %></td>
        <td><%= user.profile_first_name %></td>
        <td><%= user.profile_last_name %></td>
        <td><%= user.profile_real_name %></td>
        <td><%= user.profile_email %></td>
        <td><%= user.profile_skype %></td>
        <td><%= user.profile_phone %></td>
        <td><%= image_tag(user.profile_image_24) %></td>
        <td><%= image_tag(user.profile_image_32) %></td>
        <td><%= image_tag(user.profile_image_48) %></td>
        <td><%= image_tag(user.profile_image_72) %></td>
        <td><%= image_tag(user.profile_image_192) %></td>
        <td><%= user.is_admin %></td>
        <td><%= user.is_owner %></td>
        <td><%= user.has_files %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>