<h1>Daily Post Count (2 weeks)</h1>

<h2>All Posts</h2>
<%= line_chart :chart_data, height: "600px" %>

<h2>Per Channel</h2>
<%= line_chart :perchannel_chart_data, height: "600px" %>

<h2>Per User</h2>
<%= line_chart :peruser_chart_data, height: "600px" %>

<h1>Hourly Post Count (1 month)</h1>
<h2>All Posts Per Hour</h2>
<%= line_chart :perhour_chart_data, discrete: true, height: "600px" %>

<h2>Per Channel & Hour</h2>
<%= line_chart :perhour_channel_chart_data, discrete: true, height: "600px" %>

<h2>Per User & Hour</h2>
<%= line_chart :perhour_user_chart_data, discrete: true, height: "600px" %>

<h1>Weekly Post Count (1 month)</h1>
<h2>All Posts Per Weekday</h2>
<%= line_chart :perweekday_chart_data, discrete: true, height: "600px" %>

<h2>Per Channel & Weekday</h2>
<%= line_chart :perchannel_weekday_chart_data, discrete: true, height: "600px" %>

<h2>Per User & Weekday</h2>
<%= line_chart :peruser_weekday_chart_data, discrete: true, height: "600px" %>

<h1><%= link_to "Admin", rails_admin_path %></h1>
