<p id="notice"><%= notice %></p>

<p>
  <strong>Post type:</strong>
  <%= @post.post_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @post.ts %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
